.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 20px;
  position: relative;
}
.screen-header__reddot {
  color: tomato;
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  right: -5px;
  bottom: 23px;
}
